<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mezquite">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NuevaVentaActivity" android:theme="@style/Theme.Mezquite"/>
        <activity android:name=".ClientesActivity" android:theme="@style/Theme.Mezquite"/>
        <activity android:name=".RegistroVentasActivity" android:theme="@style/Theme.Mezquite"/>
        <activity android:name=".PlatillosActivity" android:theme="@style/Theme.Mezquite"/>
        <activity android:name=".ProveedoresActivity" android:theme="@style/Theme.Mezquite"/>
        <activity android:name=".MateriaPrimaActivity" android:theme="@style/Theme.Mezquite"/>
        <activity android:name=".ReportesActivity" android:theme="@style/Theme.Mezquite"/>
    </application>

</manifest>